{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
 #}
 {% if title %}
 	<h3>{{ title }}</h3>
 {% endif %}
 {% for row in rows %}
 	<li class="col-lg-3 design" data-id="id-0" data-type="web">
 		<div class="item-thumbs">
 			<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 			<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ title }}" href="{{ file_url(row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ uri }}']) }}">
 				<span class="overlay-img"></span>
 				<span class="overlay-img-thumb font-icon-plus"></span>
 			</a>
 			<!-- Thumb Image and Description -->
 			<img width="300" height="300" src="{{ file_url(row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ uri }}']) }}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
 		</div>
 	</li>
 {% endfor %}