{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
 #}
 {% if title %}
 	<h3>{{ title }}</h3>
 {% endif %}
 {% for row in rows %}
 	<div class="col-lg-3">
 		<div class="box">
 			<div class="box-gray aligncenter">
 				<h4>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</h4>
 				<div class="icon">
 					<i class="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_icon }}'] }}"> </i>
 				</div>
 				<p class="">
 					{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}
 				</p>
 			</div>
 			<div class="box-bottom">
 				{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ view_node }}']}}
 			</div>
 		</div>
 	</div>
 {% endfor %}